@font-face{
    font-family: "MyFont";
    src: url("./font.woff2") format("woff2"),
    url("./font.woff") format("woff");
    font-weight: 600;
    font-style:normal;
}

.hello{
    color: red;
    font-family: "MyFont";
    background: url("./images/mapbox-icon.png");
}

